RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^.]+)$ $1.php [NC,L]


Options All -Indexes

ErrorDocument 403 https://covid-19.theearpat.rf.gd/error
ErrorDocument 404 https://covid-19.theearpat.rf.gd/error
ErrorDocument 500 https://covid-19.theearpat.rf.gd/error